<div id="<%= dom_id thing %>" class="thing_row">
  <div class="thing_head">
    <div class="dot dot_<%= thing.kind %>" title="<%= I18n.t("things.kind.#{thing.kind}") %>"></div>
  </div>
  <div class="thing_body"><%= link_to title_to_html(title: thing.title), edit_thing_path(thing) %></div>
  <div class="thing_tail"><%= thing.rate %></div>
</div>
