<table id="public-search-table">
    <% @search.results.values.flatten.each do |res| %>
        <tr>
            <td>
                <details>
                    <% if res.is_a? Thing %>
                        <summary><%= res.title %></summary>
                        <div class="details-flex">
                            <div><span><b><%= I18n.t('activerecord.attributes.thing.authors') %></b>: <%= authors_or_editors(res) %></span></div>
                            <div><span><b><%= I18n.t('activerecord.attributes.thing.publisher') %></b>: <%= string_maybe(res.publisher) %></span></div>
                            <div><span><b><%= I18n.t('activerecord.attributes.thing.year') %></b>: <%= string_maybe(res.year) %></span></div>
                            <div><span><b><%= I18n.t('activerecord.attributes.thing.kind') %></b>: <%= I18n.t("things.kind.#{res.kind}") %></span></div>
                            <% if res.note.present? %>
                                <div><span><b><%= I18n.t('activerecord.attributes.thing.note') %></b>: <%= res.note %></span></div>
                            <% end %>
                            <% unless res.url.blank? %>
                                <div><span><a href="<%= res.url %>" target="_blank"><%= I18n.t('activerecord.attributes.thing.url') %></a></span></div>
                            <% end %>
                        </div>
                    <% else %>
                        <summary><b><%= I18n.t('comments.title') %></b> <%= I18n.t('general.in') %> «<i><%= res.thing.title %></i>»</summary>
                        <div class="details-flex">
                            <%= res.content %>
                        </div>
                    <% end %>
                </details>
            </td>
        </tr>
    <% end %>
</table>
